


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
build/build


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.classpath
.project
.settings/
*-cs-cleanup.xml
*-cs-formatter.xml
.checkstyle
.idea/
*.iml
*.ipr
*.iws
forbidden-apis-txt
/forbidedden-apis-txt
images/*
yelp-fusion-client/src/test/resources/*
yelp-fusion-client/src/test/java/org/example/yelp/fusion/client/test_client/*
build-conventions/*
build-tools/*
jar*
yelp-fusion-client/src/main/java/org/example/yelp/fusion/client/business/Hours_.java
yelp-fusion-client/src/main/java/org/example/yelp/fusion/client/business/Business_.java
yelp-fusion-client/src/test/java/org/example/yelp/fusion/client/business/model/*
yelp-fusion-client/src/test/java/org/example/yelp/fusion/client/business/SearchTests.java
yelp-fusion-client/src/test/java/org/example/yelp/fusion/client/business/ExtractSFRestaurantsTest.java
../restaurant-recommender-python/weather_forecaster.py
yelp-fusion-client/src/test/java/org/example/yelp/fusion/client/json/*
yelp-fusion-client/src/test/java/org/example/yelp/fusion/client/business/HttpComponentsTest.java
.gitignore

