# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
build/build
*/build/
out/

gradle/
gradlew*
*.gradlew
*.jar
*.bat
*.txt

.classpath
.project
.settings/

*-cs-cleanup.xml
*-cs-formatter.xml
.checkstyle

# intellij files
build-idea/
.idea/

*.iml
*.ipr
*.iws
*.gpg
*.pub

# include shared intellij config
#!.idea/eclipseCodeFormatter.xml
#!.idea/externalDependencies.xml
#!.idea/inspectionProfiles/Project_Default.xml
#!.idea/runConfigurations/Debug_Elasticsearch.xml
#!.idea/scopes/x_pack.xml

# These files are generated in the main tree by IntelliJ
benchmarks/src/main/generated/*