<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>[%d{ISO8601}] [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="DEBUG" />-->
<!--    </root>-->

<!--    <logger name="tracer" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->

<!--    <logger name="org.example.yelp.fusion.client" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->

    <logger name="org.example.lowlevel.restclient" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

<!--    <logger name="org.example.lowlevel.restclient.RestClient" level="INFO" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->
</configuration>